.heading-primary {
    font-size: $font-size-primary;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-secondary {
    font-size: $font-size-secondary;
    color: $color-primary;
    font-weight: 700;
    margin-bottom: $value-xxsmall;
}

.heading-tertiary {
    font-size: $font-size-tertiary;
    color: $color-primary;
}




a {
    font-size: $font-size-default;    
    display: inline-block;
    transition: all 0.5s;
    text-decoration: none;
    color: $color-primary;
}

a:hover {
    font-weight: 700;
}

li {
    list-style-type: square;
    margin-left: 1.5rem;
}

li:not(:last-child) {
    margin-bottom: calc(5px + 1vw);
}

p {
    margin-bottom: $value-xxsmall;
}