$background-color: #fff;


$font-size-primary: calc(4px + 1.3vw);
$font-size-secondary: calc(4px + 1.1vw);
$font-size-tertiary: calc(4px + .9vw);

$font-size-default: calc(4px + 0.9vw);
$font-size-xxxsmall: calc(6px + .5vw);
$font-size-xxsmall: calc(8px + .5vw);
$font-size-xsmall: calc(4px + 0.5vw);
$font-size-small: calc(5px + .7vw);
$font-size-large: calc(5px + 1.3vw);
$font-size-largest: calc(6px + 1.8vw);

$default-line-height: 1.6;


$color-primary: rgba(66, 82, 175, 1);
$color-secondary: rgba(231, 81, 127, 1);
$color-tertiary: #21A179;
$color-quaternary: #dab61a;
$color-grey: rgb(206, 203, 203);

$color-white: #fff;
$color-black: #000;

$value-xxsmall: 0.5rem;
$value-xsmall: 1rem;
$value-small: 2rem;
$value-medium: 4rem;
$value-big: 6rem;
$value-huge: 8rem;
