<mat-card class="mat-elevation-z5">

  <div class="top-right">
    <button mat-raised-button color=primary routerLink="/">
      Home Page
      <mat-icon color=white>home</mat-icon>
    </button>
  </div>

  <mat-card-header>
    <mat-card-title>
      <h1 class="heading-primary">
        {{ dataSource?.filteredData?.length }} Available GO-CAMs
      </h1>
    </mat-card-title>
    <mat-card-subtitle>{{ utils.lastUpdate() | date: 'MMMM, yyyy' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <div *ngIf="isLoading" style="text-align: center">
      Loading Models ... &nbsp;
      <mat-spinner color=accent [diameter]="20" style="display: inline-block; vertical-align:middle"></mat-spinner>
      <!--
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      -->
    </div>

    <div *ngIf="!isLoading">
      <div *ngIf="isBufferLoading" style="text-align: center; background-color: rgba(orange, 0.5)">
        Loading Buffers ... &nbsp;

        <mat-spinner color=primary [diameter]="20" style="display: inline-block; vertical-align:middle"></mat-spinner>
        <!--
      <mat-progress-bar mode="indeterminate" color=warn></mat-progress-bar>
      -->
      </div>
    </div>


    <p class="u-margin-vertical-xsmall" [hidden]="!isLoading">
      <span>
        <mat-icon color=primary>info</mat-icon> &nbsp; <i style="vertical-align:super">this table summarizes the content
          of GO-CAMs in terms of GO-Terms and Gene Products. To get a more detailed view of the association between
          these entities, explore each model graph by clicking the View button</i>
      </span>
    </p>


    <!-- TABLE SECTION -->
    <div [hidden]="isLoading">

      <!-- FILTER SECTION -->
      <div class="filter">

        <!-- KEYWORD FILTER -->
        <mat-form-field style="display:inline-block;width:50%;min-width:20%;">
          <input matInput (mouseover)="filterFocus()" (click)="filterFocus()" (keyup)="applyFilter($event.target.value)"
            placeholder="Filter" [(ngModel)]="searchFilter" style="margin:0;padding:0">
          <mat-hint>Title, GO-Term (BP, MF, CC), Gene Product, Species, PMID, Curator, Group</mat-hint>
        </mat-form-field>

        <!-- SELECT DISPLAYED COLUMNS -->
        <mat-form-field class="selectionForm">
          <mat-select placeholder="Displayed Columns" multiple (selectionChange)="changeSelection($event)"
            [(ngModel)]="displayedColumns">
            <mat-option *ngFor="let column of allColumns" [value]="column" selected>{{column}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>


      <button mat-raised-button *ngIf="searchFilter && searchFilter.length > 0"
        (click)="searchFilter = undefined; applyFilter(undefined);" style="margin-top:10px">
        Reset
      </button>

      <!-- INCLUDE DEV MODEL MOCKUP
      <section class="toggleDev" *ngIf="auth.isAuthenticated()">
        Include Dev Models:
        <mat-slide-toggle (change)="onDevModelChange($event)">
        </mat-slide-toggle>
      </section>
      -->

      <mat-paginator [pageSizeOptions]="pageSizes" (page)="changeTablePage($event)" class="filter__paginator">
      </mat-paginator>

      <p class="u-margin-vertical-xsmall">
        <span>
          <mat-icon color=primary>info</mat-icon> &nbsp; <i style="vertical-align:super">this table summarizes the
            content of GO-CAMs in terms of GO-Terms and Gene Products. To get a more detailed view of the association
            between these entities, explore each model graph by clicking the View button</i>
        </span>
      </p>



      <!-- TABLE SECTION -->
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Basic Header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" style="padding:3px;">
        </mat-row>
        <!-- TITLE SECTION -->
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-title">
            <h2 class="heading-secondary">Title</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="cell-block mat-column-title">

            <!-- CLIPBOARD TEST 
            <div class="row__clipboard" (click)="clipboard(row)">
              <mat-icon>assignment</mat-icon>
            </div>
            -->

            <div class="row__title">

              <div class="row__title__content">
                <a href="{{ urlHandler.getGraphView(row.gocam) }}" target="blank" class="row__title__link">{{row.title}}
                  &nbsp;
                  <br>
                  <hr>
                </a>




                <div class="row__articles__container">
                  <div class="row__articles__container__citation">Citations:</div>
                  <span class="row__article" *ngFor="let source of row.pmid">
                    <span matTooltip="{{ articleTooltip }}" matTooltipPosition="below" [matTooltipShowDelay]="0.2">
                      <a href="{{ urlHandler.getPubMedAbstract(source.pmid) }}" target="_blank"
                        (mouseenter)=overpmid(source.pmid)>
                        <mat-icon class="article-icon">library_books</mat-icon>
                      </a>
                    </span>
                  </span>
                </div>

                <a href="{{ urlHandler.getGraphView(row.gocam) }}" target="blank" *ngIf="auth.isAuthenticated()">
                  <span class="row__view-edit" matTooltip="Edit Model" matTooltipPosition="below"
                    [matTooltipShowDelay]="0.2">
                    <mat-icon class="row__open">edit</mat-icon>
                  </span>
                </a>

              </div>

              <!--
            <a href="{{ urlHandler.getGraphView(row.gocam) }}" target="blank" class="row__title">
              <span class="row__view-primary" matTooltip="Open Graph View" matTooltipPosition="below" [matTooltipShowDelay]="0.2">G
                <mat-icon class="row__open">open_in_new</mat-icon>
              </span>
            </a>
            <a href="{{ urlHandler.getPathwayView(row.gocam) }}" target="blank">
              <span class="row__view-secondary" matTooltip="Open Pathway View" matTooltipPosition="below" [matTooltipShowDelay]="0.2">P
                <mat-icon class="row__open">open_in_new</mat-icon>
              </span>
            </a>
          -->


              <div class="row__title__actions">

                <span matTooltip="Open Graph View" matTooltipPosition="after" [matTooltipShowDelay]="0.2">
                  <a href="{{ urlHandler.getGraphView(row.gocam) }}" target="blank">
                    <button mat-button class="button-open">
                      <span>View &nbsp;
                        <mat-icon>open_in_new</mat-icon>
                      </span>
                    </button>
                  </a>
                </span>

                <!--
                <span matTooltip="Find Similar Models" matTooltipPosition="after" [matTooltipShowDelay]="0.2">
                    <button mat-button class="button-open" (click)="findSimilar(row)">
                      <span>Similars &nbsp;
                        <mat-icon>search</mat-icon>
                      </span>
                    </button>
                </span>
              -->

                <!-- workbench not suitable for production
                <span matTooltip="Pathway Graph View" matTooltipPosition="after" [matTooltipShowDelay]="0.2">
                  <a href="{{ urlHandler.getPathwayView(row.gocam) }}" target="blank">
                    <button mat-button class="button-open">
                      <span>Pathway &nbsp;
                        <mat-icon>open_in_new</mat-icon>
                      </span>
                    </button>
                  </a>
                </span>
                -->

              </div>
            </div>

          </mat-cell>
        </ng-container>



        <!-- BIOLOGICAL PROCESSES COLUMN -->
        <ng-container matColumnDef="Biological Process">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-center">
            <h2 class="heading-secondary">Biological Process</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="cell-block">

            <div *ngIf="row?.bp" class="u-width-full">
              <span matTooltip="{{ bp.definition}}" *ngFor="let bp of row.bp;" matTooltipPosition="before"
                [matTooltipShowDelay]="prefs.toolTipDelay">
                <a href="{{ urlHandler.getAmigoTerm(bp.id) }}" target="_blank" class="table-button color-bp">
                  {{ bp.name }}
                </a>
              </span>
            </div>

          </mat-cell>
        </ng-container>



        <!-- MOLECULAR FUNCTIONS COLUMN -->
        <ng-container matColumnDef="Molecular Function">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-center">
            <h2 class="heading-secondary">Molecular Function</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="cell-block">

            <div *ngIf="row?.mf" class="u-width-full">
              <span matTooltip="{{ mf.definition }}" *ngFor="let mf of row.mf;" matTooltipPosition="after"
                [matTooltipShowDelay]="prefs.toolTipDelay">
                <a href="{{ urlHandler.getAmigoTerm(mf.id) }}" target="_blank" class="table-button color-mf">
                  {{ mf.name }}
                </a>
              </span>
            </div>

          </mat-cell>
        </ng-container>



        <!-- CELLULAR COMPONENT COLUMN -->
        <ng-container matColumnDef="Cellular Component">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-center">
            <h2 class="heading-secondary">Cellular Component</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="cell-block">

            <div *ngIf="row?.cc" class="u-width-full">
              <span matTooltip="{{ cc.definition }}" *ngFor="let cc of row.cc;" matTooltipPosition="after"
                [matTooltipShowDelay]="prefs.toolTipDelay" style="text-align:center">
                <a href="{{ urlHandler.getAmigoTerm(cc.id) }}" target="_blank" class="table-button color-cc">
                  {{ cc.name }}
                </a>
              </span>
            </div>

          </mat-cell>
        </ng-container>



        <!-- GENE PRODUCT COLUMN -->
        <ng-container matColumnDef="Gene Product">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-center">
            <h2 class="heading-secondary">Gene Products</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="cell-block">

            <div *ngIf="row?.gp" class="gp-chip u-width-full">
              <!--
              <span matTooltip=" {{ 'Species: ' + gp.species + ' -- URI: ' + gp.id }} " *ngFor="let gp of row.gp" matTooltipPosition="after" [matTooltipShowDelay]="prefs.toolTipDelay">
              -->
              <span *ngFor="let gp of row.gp">
                <a href="{{ gp.id }}" target="_blank" class="table-button color-gp button-gp">
                  {{ gp.fullName }}
                  <!--
                  {{ extractGPid(gp.id) }}
                  -->
                  <!--
                  <img src="{{ '../assets/' + getSpeciesIcon(gp.species) + '.png' }}" class="gp-chip__logo">
                  -->
                </a>
              </span>
            </div>

          </mat-cell>
        </ng-container>



        <!-- CONTRIBUTOR COLUMN -->
        <ng-container matColumnDef="Contributor">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-right">
            <h2 class="heading-secondary">Curators</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color" class="mat-column-align-right">

            <div *ngFor="let name of row.names; let i = index" [attr.data-index]="i" style="width:100%">
              <a routerLink="/users/{{utils.extractORCID(row.orcids[i])}}" *ngIf="row.orcids[i].indexOf('GOC:') == -1"
                class="a-vertical-displacement a-font-weight">{{simplifyName(name)}}</a>
              <span *ngIf="row.orcids[i].indexOf('GOC:') != -1">{{name}}</span>
            </div>

          </mat-cell>
        </ng-container>



        <!-- GROUP COLUMN -->
        <ng-container matColumnDef="Group">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-right mat-column-group">
            <h2 class="heading-secondary">Groups</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color" class="mat-column-align-right mat-column-group">

            <!-- 161204 -->
            <span *ngFor="let name of row.groupnames; let i = index" [attr.data-index]="i" style="width:100%">
              <a routerLink="/groups/{{name}}" *ngIf="row.groupids[i]"
                class="a-vertical-displacement a-font-weight">{{name}}</a>
              <span *ngIf="!row.groupids[i]">{{name}}</span>
            </span>

          </mat-cell>
        </ng-container>


        <!-- DATE SECTON -->
        <ng-container matColumnDef="Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-date">
            <h2 class="heading-secondary">Date</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-date">
            <div class="date-design">
              <span class="date-design__year">{{ row.date | date: 'yyyy' }}</span>
              <span class="date-design__day-month">{{ row.date | date: 'dd' }} {{ row.date | date: 'MMM' }}</span>
            </div>
          </mat-cell>
        </ng-container>

      </mat-table>
    </div>

  </mat-card-content>
</mat-card>