.mat-header-row {
  padding: 0 calc(0.05vw) !important;
  padding-left: calc(10px + 0.6vw) !important;
  min-height: 1px;
}

.mat-header-cell {
  font-size: calc(6px + 0.5vw) !important;
}

.mat-card-content {
  width: 97%;
  margin: 0 auto;
  padding: 0;
}

.mat-form-field {
  font-size: calc(4px + 0.5vw);
  width: 100%;
}

.mat-table {
  padding: calc(4px + 0.4vw);  
  overflow: auto;
  margin: 0;
  padding: 0;
}

.mat-title {
  font-size: calc(3px + 0.8vw) !important;
  font-weight: 700;
  color:rgba(66, 82, 175, 1);
}


.small-horizontal-margin {
  margin-left: calc(1px + 0.5vw) !important;  
  margin-right: calc(1px + 0.5vw) !important;  
}


.small-horizontal-padding {
  padding-left: calc(1px + 0.5vw) !important;  
  padding-right: calc(1px + 0.5vw) !important;  
}

.no-horizontal-padding {
  padding-left: 0 !important;  
  padding-right: 0 !important;  
}

.mat-column-date {
  max-width: calc(26px + 5vw);
  margin-right: 3px !important;
}



.mat-column-align-center {
  text-align:center !important;
  margin: calc(1px + 1vw);
}

.mat-column-align-right {
  text-align:right !important;
  margin-right: calc(1px + 1vw);
  max-width: calc(18px + 5vw);
}



.mat-row {
  margin: calc(10px + 1.55vw) calc(.2vw) !important;
  padding: calc(4px + 0.5vw)  !important;  
  border: 1px solid rgba(211, 211, 211, 0.50);
  border-radius: 10px;
}

.mat-row:hover {
  padding: calc(4px + 0.5vw);  
  background-color: rgba(220, 220, 220, 0.385);
  box-shadow: 0px 3px 3px grey;    
}

.mat-cell {
  font-size: calc(6px + 0.5vw);    
  padding-left: calc(0px + 0.3vw);  
  /*
  padding-right: calc(0px + 0.3vw);
  */
  padding-right: 0px;
  /*
  margin: auto calc(1px + 0.5vw);
  */
  margin: 0px;
}



.bp {
  background: linear-gradient(180deg, rgba(136, 33, 206, 0.3) 0, rgba(241,241,241,0.3) 100%);
}

.mf {
  background: linear-gradient(180deg, rgba(255, 240, 103, 0.966) 0, rgb(241, 241, 241) 100%);
}

.gp {
  background: linear-gradient(180deg, rgba(26,216,73,1) 0, rgba(241,241,0,0.3) 100%);
}



a {
  display: block;
  font-size: calc(6px + 0.5vw);  
}
a:hover {
  font-weight: inherit;
}

span {
  font-size: calc(6px + 0.5vw);  
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  color: white;
  top: 4px;
  left: 4px;
  z-index: 10;
}




/*
EXPERIMENTAL TESTS
*/

.button {
  font-size: calc(4px + 0.5vw);
  text-align: center;
  color:red;

  box-shadow: 0px 2px 2px grey;
/*  text-shadow: 1px 1px 6px rgba(0,0,0,0.5); */
  border: 1px solid rgba(211, 211, 211, 0.50);
  border-radius: 10px;
  margin: 5px;
  padding: 4px;
  cursor: pointer;
  background-image: url(http://bit.ly/2gPLxZ4); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2;
}

.button:hover {
  box-shadow: 0px 5px 5px grey;  
}

.paginator-top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}


mat-hint {
  font-size: calc(6px + 0.5vw);
  font-style: italic;
}


.mat-chip {
  padding: calc(1px + 0.5vw) calc(1.5px + 0.5vw) !important;
  margin: calc(1px + 0.5vw) calc(1px + 0.5vw) !important;
  margin-bottom: calc(5px + 0.5vw) !important;
  border-radius: calc(1px + 1vw) !important;
}


.mat-column-date {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-title {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-process {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-function {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-contributor {
  max-width: calc(40px + 4vw) !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-group {
  max-width: calc(40px + 4vw) !important;
  margin: 0px !important;
  padding: 0px !important;
}