@import "../../sass/abstracts/variables";

.mat-header-row {
  padding: 0 calc(0.05vw) !important;
  padding-left: calc(10px + 0.6vw) !important;
  min-height: 1px;
  font-size: $font-size-default;
}

.mat-header-cell h2 {
  font-size: calc(2px + 1vw) !important;
}

.mat-card-content {
  width: 97%;
  margin: 0 auto;
  padding: 0;
}

.mat-form-field {
  font-size: calc(4px + 0.5vw);
  width: 100%;
}

.mat-table {
  padding: calc(4px + 0.4vw);  
  overflow: auto;
  margin: 0;
  padding: 0;
}

.mat-title {
  font-size: calc(3px + 0.8vw) !important;
  font-weight: 700;
  color:rgba(66, 82, 175, 1);
}


.small-horizontal-margin {
  margin-left: calc(1px + 0.5vw) !important;  
  margin-right: calc(1px + 0.5vw) !important;  
}


.small-horizontal-padding {
  padding-left: calc(1px + 0.5vw) !important;  
  padding-right: calc(1px + 0.5vw) !important;  
}

.no-horizontal-padding {
  padding-left: 0 !important;  
  padding-right: 0 !important;  
}

.mat-column-date {
  max-width: calc(26px + 5vw);
  margin-right: 3px !important;
}



.mat-column-align-center {
  text-align:center !important;
  margin: calc(1px + 1vw);
}

.mat-column-align-right {
  text-align:right !important;
  margin-right: calc(1px + 1vw);
  max-width: calc(18px + 5vw);
}



.mat-row {
  position: relative;
  margin: calc(10px + 1.55vw) calc(.2vw) !important;
  padding: calc(4px + 0.5vw)  !important;  
  border: 1px solid rgba(211, 211, 211, 0.50);
  border-radius: 10px;
  transition: all 0.2s;
}

.mat-row:hover {
  padding: calc(4px + 0.5vw);  
//  background-color: rgba(220, 220, 220, 0.385);
  box-shadow: 0px 0px 10px rgba(0, 0, 220, 0.45)
}

.mat-cell {
  font-size: calc(6px + 0.5vw);    
  padding-left: calc(0px + 0.3vw);  
  /*
  padding-right: calc(0px + 0.3vw);
  */
  padding-right: 0px;
  /*
  margin: auto calc(1px + 0.5vw);
  */
  margin: 0px;
}



.bp {
  background: linear-gradient(180deg, rgba(136, 33, 206, 0.3) 0, rgba(241,241,241,0.3) 100%);
}

.mf {
  background: linear-gradient(180deg, rgba(255, 240, 103, 0.966) 0, rgb(241, 241, 241) 100%);
}

.gp {
  background: linear-gradient(180deg, rgba(26,216,73,1) 0, rgba(241,241,0,0.3) 100%);
}



a {
  display: block;
  font-size: calc(6px + 0.5vw);  
}
a:hover {
  font-weight: inherit;
}

span {
  font-size: calc(6px + 0.5vw);  
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  color: white;
  top: 4px;
  left: 4px;
  z-index: 10;
}





.paginator-top-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
}


mat-hint {
  font-size: calc(6px + 0.5vw);
  font-style: italic;
}


.mat-chip {
  padding: calc(1px + 0.5vw) calc(1.5px + 0.5vw) !important;
  margin: calc(1px + 0.5vw) calc(1px + 0.5vw) !important;
  margin-bottom: calc(5px + 0.5vw) !important;
  border-radius: calc(1px + 1vw) !important;
  cursor: pointer !important;
}


.mat-column-date {
  margin: 0px !important;
  padding: 0px !important;
  max-width: calc(30px + 2.5vw) !important;
}

.mat-column-title {
//  position: relative;
  margin: 0px !important;
  padding: 10px 0px !important;
}

.mat-column-process {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-function {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-contributor {
  max-width: calc(40px + 4vw) !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mat-column-group {
  max-width: calc(40px + 4vw) !important;
  margin: 0px !important;
  padding: 0px !important;
}


.row__articles__container {
//  background-color: greenyellow;
  display: inline-block;
  width: 100%;
}

.row__article {
  display: inline-block;
//  color: $color-primary;
}

.row__article a  {
  color: $color-tertiary !important;

  &:hover {
    font-weight: 700;
    transform: translateY(2px) scale(1.2);
    //    text-shadow: 1px 1px 6px rgba(0,0,0,0.2);    
  }
}




.row__title {
//  position: relative;
  padding: calc(5px + 0.5vw);
//  border: 1px solid rgba(0, 0, 0, .3);
//  border-radius:  calc(.5vw) calc(8px + 1.5vw);
//  color: white;
//  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

//  background: linear-gradient(150deg, lightsteelblue, rgba(16, 122, 222, 0.5) 100%);


  &__view-edit {
    display: inline-block;
    text-align: left;
    transition: all 0.2s;
    box-shadow: 0px 1px 6px rgba($color-black, .5);
    border-radius: 50%;
    background-color: $color-quaternary;
    color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 145px;  
    &:hover {
      box-shadow: 0px 3px 6px rgba($color-black, 1);
      transform: translateY(-3px);
      font-weight: 700;
    }      
  }

  &__view-primary {
    display: inline-block;
    text-align: left;
    transition: all 0.2s;
    box-shadow: 0px 1px 6px rgba($color-black, .5);
    border-radius: 50%;
    background-color: $color-primary;
    color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 75px;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 3px 6px rgba($color-black, 1);
      transform: translateY(-3px);
      font-weight: 700;
    }      
  }

  &__view-secondary {
    display: inline-block;
    text-align: left;
    transition: all 0.2s;
    box-shadow: 0px 1px 6px rgba($color-black, .5);
    border-radius: 50%;
    background-color: $color-secondary;
    color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 3px 6px rgba($color-black, 1);
      transform: translateY(-3px);
      font-weight: 700;
    }
  }

  &__open {
    vertical-align: middle !important;
  }
}


.row__details {
  position: relative;  
}



.article-icon {
//  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  height: 45px !important;
  transition: all 0.3s;
  color: $color-tertiary;

  &:hover {
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
//    color: $color-primary;
  }
}


.table-button {
  display: block;
  width:100%;

  font-size: $font-size-xxxsmall !important;
  text-align: center;
  letter-spacing: 0.5px;

  background-color: $color-white;
  padding: 6px 9px;
  margin: 6px 0px;

  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: calc(8px + 1.5vw) calc(.5vw);

  color: $color-white;
  text-shadow: 1px 1px 1px $color-black;

  box-shadow: 0px 1px 6px rgba($color-black, .5);

  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 3px 6px rgba($color-black, 1);
    transform: translateY(-3px);
  }
}





.date-design {
  position: relative;
  text-align: center;
  display: inline-grid;
  vertical-align: middle;


  &__day-month {
    background-color: $color-primary;
    font-weight: bold; color: #fff; text-transform: uppercase; 	
    display: inline-block;
    border-radius: 0 0 10px 10px;
    padding: 6px 5px 6px 5px;
  }
  
  &__month-day {
    display: inline-grid;
    vertical-align: middle;
  }

  &__year {
//    letter-spacing: calc(0.2vw);
  }

}




.gp-chip {
  position: relative;

  &__logo {
    position: absolute;
    right: calc(.8vw);
    height: calc(15px + 1.6vw);
    padding-bottom: calc(1vw);
  }
}