<div style="text-align: center">
  <small>
    Copyright © 1999-2019
    <a href="{{ urlHandler.getGO() }}" title="The Gene Ontology project website">the Gene Ontology</a> (
    <a href="{{ urlHandler.getLicence() }}">CC-BY 4.0</a>)
    <br>
    <a href="{{ urlHandler.getContactUs() }}" title="Contact the GO helpdesk">Helpdesk</a> •
    <a href="{{ urlHandler.getCiteUs() }}" title="How to cite the GO project">Citation/attribution</a> •
    <a href="{{ urlHandler.getTermsOfUse() }}" title="Terms of use for the GO project">Terms of use</a>
    <br> Member of the
    <a href="{{ urlHandler.getOBOFoundry() }}" rel="external" title="Open Biological and Biomedical Ontologies">Open Biological and Biomedical Ontologies</a>
  </small>
</div>