$background-color: #fff;

$default-font-size: calc(10px + 0.5vw);

$default-line-height: 1.6;


$size-primary: calc(2px + 1.3vw);
$size-secondary: calc(4px + 1vw);
$size-tertiary: calc(2px + 0.8vw);


$color-primary: rgba(66, 82, 175, 1);
$color-secondary: rgba(231, 81, 127, 1);
$color-tertiary: #21A179;

$color-white: #fff;
$color-black: #000;

