<!-- header section -->
<header>
  <app-navigation></app-navigation>
</header>

<!-- main section -->
<main fxLayout="column" fxLayoutAlign="space-around stretch" class="section-main">

  <mat-sidenav-container [ngClass]="!prefs.isSideNavShown() ? 'mat-sidenav-no-height' : 'mat-sidenav-with-fixed-height'">

    <!-- MAIN CONTENT SECTION -->
    <mat-sidenav-content [style.display]="prefs.getMainStyle()" [ngClass]="prefs.getSideStyle() == 'none' ? 'mat-sidenav-no-height' : 'mat-sidenav-with-height'">
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>


    <!-- SIDE NAV SECTION -->
    <mat-sidenav #sidenav mode="side" [(opened)]="prefs.sideNavShown" position="end" [style.display]="prefs.getSideStyle()" id="sidenav">

      <div style="margin: 0 10px; max-width: 450px;">

        <!-- download section -->
        <app-downloads></app-downloads>

        <!-- tools & api section -->
        <app-api style="margin: 20px;"></app-api>

        <!-- documentation section -->
        <app-documentations style="margin: 20px;"></app-documentations>

        <!-- news section -->
        <app-news style="margin-bottom: 20px;"></app-news>

      </div>

    </mat-sidenav>

  </mat-sidenav-container>

</main>

<!-- footer section -->
<footer>
  <app-footer></app-footer>
</footer>