<!-- header section -->
<header>
  <app-navigation></app-navigation>
</header>

<!-- main section -->
<main fxLayout="column" fxLayoutAlign="space-around stretch" class="section-main">

  <mat-sidenav-container style="min-height:calc(300px + 70vw);background-color:white">

    <!-- MAIN CONTENT SECTION -->
    <mat-sidenav-content style="padding: 0 5px; padding-bottom:30px;">
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>


    <!-- SIDE NAV SECTION -->
    <mat-sidenav #sidenav mode="side" [(opened)]="prefs.sideNavShown" position="end" style="max-width:450px;">

      <div style="margin: 0 10px; margin-left: 5%">

        <!-- download section -->
        <app-downloads></app-downloads>

        <!-- tools & api section -->
        <app-api style="margin: 20px;"></app-api>

        <!-- documentation section -->
        <app-documentations style="margin: 20px;"></app-documentations>

        <!-- news section -->
        <app-news style="margin-bottom: 20px;"></app-news>
      </div>

    </mat-sidenav>

  </mat-sidenav-container>

</main>

<!-- footer section -->
<footer>
  <app-footer></app-footer>
</footer>