@import "../sass/abstracts/variables";

mat-sidenav-container {
    background-color:white;
    min-height: 0px !important;    
}


.mat-sidenav-no-height {
    min-height: 0px !important;    
}

.mat-sidenav-with-height {
    min-height: calc(300px + 85vw) !important;
}

.mat-sidenav-with-fixed-height {
    min-height: 60rem !important;
}

section {
    margin-bottom: $value-xsmall;
}