<!-- header section -->
<header>
  <app-navigation></app-navigation>
</header>

<!-- main section -->
<div fxLayout="column" fxLayoutAlign="space-around stretch" class="margin-20" style="margin-top:75px">

  <div *ngIf="!isUsageDefined()">
    <app-usage-type></app-usage-type>
  </div>

  <div *ngIf="isUsageDefined()">

    <div fxLayout="row" fxLayoutAlign="start stretch">

      <!-- MAIN CONTENT SECTION -->
      <div fxFlex="67%">
          <router-outlet></router-outlet>
      </div>

      <!-- RIGHT-SIDE COLUMN -->
      <div fxFlex="33%" style="padding:15px">

         <!-- download section -->
        <app-downloads></app-downloads>

        <!-- tools & api section -->
        <app-api style="margin: 20px;"></app-api>

        <!-- documentation section -->
        <app-documentations style="margin: 20px;"></app-documentations>
        
        <!-- news section -->
        <app-news style="margin-bottom: 20px;"></app-news>

      </div>

    </div>

  </div>

  <!-- footer section -->
  <footer>
    <app-footer-disclaimer></app-footer-disclaimer>
  </footer>
