
<mat-card class="mat-elevation-z5" fxLayout="column" fxLayoutAlign="space-between stretch">
    
  <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Recent Models</mat-card-title>
      <mat-card-subtitle>Newly created or edited GO-CAMs</mat-card-subtitle>
    </mat-card-header>

    <!--  style="height:100px" -->
    <mat-card-content style="min-height: 100px">
      <div  *ngIf="news.length > 0">
        <span [suiTransition]="transitionController">
            <a href="{{ urlHandler.getPathwayView(news[newsPos].gomodel) }}" target="blank">
              <mat-icon class="eye" (mouseenter)="eyeOver($event)" (mouseleave)="eyeLeft($event)">visibility</mat-icon>
            </a>
          
              <span class="date">{{news[newsPos].date}}</span>: &nbsp;
              <span class="title">{{news[newsPos].title}}</span>
          </span>
        </div>

        <div  *ngIf="(newsPos+1) < news.length">
          <span [suiTransition]="transitionController" *ngIf="news.length > 0">
            <a href="{{ urlHandler.getPathwayView(news[newsPos + 1].gomodel) }}" target="blank">
              <mat-icon class="eye" (mouseover)="eyeOver($event)" (mouseleave)="eyeLeft($event)">visibility</mat-icon>
            </a>
          
              <span class="date">{{news[newsPos+1].date}}</span>: &nbsp;
              <span class="title">{{news[newsPos+1].title}}</span>
              <!--
            <div *ngIf="(newsPos+1) >= news.length">&nbsp; </div>
            -->
          </span>
        </div>

        <div *ngIf="(newsPos+2) < news.length">
          <span [suiTransition]="transitionController" *ngIf="news.length > 0">
                <a href="{{ urlHandler.getPathwayView(news[newsPos + 1].gomodel) }}" target="blank">
                <mat-icon class="eye" (mouseover)="eyeOver($event)" (mouseleave)="eyeLeft($event)">visibility</mat-icon>
              </a>
              <span class="date">{{news[newsPos+2].date}}</span>: &nbsp;
              <span class="title">{{news[newsPos+2].title}}</span>
            <!--
            <div *ngIf="(newsPos+2) >= news.length">&nbsp; </div>
            -->
          </span>      
        </div>
  </mat-card-content>
</mat-card>


<!--
<div class="ui segment">
  <h2>Most recent GO-CAMs:</h2>

  <span [suiTransition]="transitionController" *ngIf="news.length > 0">
    <li>

      <a href="http://noctua.berkeleybop.org/editor/graph/{{news[newsPos].gomodel}}" target="blank">
        <mat-icon class="eye">visibility</mat-icon>
      </a>
      <span class="date">{{news[newsPos].date}}</span>: &nbsp;
      <span class="title">{{news[newsPos].title}}</span>
    </li>
  </span>
  <span [suiTransition]="transitionController" *ngIf="news.length > 0">
      <li *ngIf="(newsPos+1) < news.length">
      <a href="http://noctua.berkeleybop.org/editor/graph/{{news[newsPos+1].gomodel}}" target="blank">
        <mat-icon class="eye">visibility</mat-icon>
      </a>
      <span class="date">{{news[newsPos+1].date}}</span>: &nbsp;
      <span class="title">{{news[newsPos+1].title}}</span>
    </li>
  </span>
  <span [suiTransition]="transitionController" *ngIf="news.length > 0">
      <li *ngIf="(newsPos+2) < news.length">
        <a href="http://noctua.berkeleybop.org/editor/graph/{{news[newsPos+1].gomodel}}" target="blank">
        <mat-icon class="eye">visibility</mat-icon>
      </a>
      <span class="date">{{news[newsPos+2].date}}</span>: &nbsp;
      <span class="title">{{news[newsPos+2].title}}</span>
    </li>
  </span>

</div>
-->