<mat-card class="mat-elevation-z5" fxLayout="column" fxLayoutAlign="space-between stretch">

  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title><h1 class="heading-primary">Recent Models</h1></mat-card-title>
    <mat-card-subtitle>Newly Created or Edited GO-CAMs</mat-card-subtitle>
  </mat-card-header>

  <!--  style="height:100px" -->
  <mat-card-content style="min-height: 100px">

    <div *ngIf="news.length > 0" class="section-news" (mouseover)="newsOver($event)" (mouseleave)="newsLeft($event)">
      <a href="{{ urlHandler.getPathwayView(news[newsPos].gocam) }}" target="blank">
        <span [suiTransition]="transitionController" *ngIf="news.length > 0">
          <mat-icon class="section-news__eye">visibility</mat-icon>
          <span class="section-news__content">
            {{ news[newsPos].date | date: 'dd/MM/yy' }}: &nbsp; {{news[newsPos].title}}
          </span> 
        </span>
      </a>
    </div>


    <div *ngIf="(newsPos+1) < news.length" class="section-news" (mouseover)="newsOver($event)" (mouseleave)="newsLeft($event)">
      <a href="{{ urlHandler.getPathwayView(news[newsPos + 1].gocam) }}" target="blank">
        <span [suiTransition]="transitionController" *ngIf="news.length > 0">
            <mat-icon class="section-news__eye">visibility</mat-icon>
            <span class="section-news__content">
              {{ news[newsPos + 1].date | date: 'dd/MM/yy' }}: &nbsp; {{news[newsPos + 1].title}}
            </span> 
        </span>
      </a>
    </div>

    <div *ngIf="(newsPos+2) < news.length" class="section-news" (mouseover)="newsOver($event)" (mouseleave)="newsLeft($event)">
      <a href="{{ urlHandler.getPathwayView(news[newsPos + 2].gocam) }}" target="blank">
        <span [suiTransition]="transitionController" *ngIf="news.length > 0">
            <mat-icon class="section-news__eye">visibility</mat-icon>
            <span class="section-news__content">
              {{ news[newsPos + 2].date | date: 'dd/MM/yy' }}: &nbsp; {{news[newsPos + 2].title}}
            </span> 
          </span>
      </a>
    </div>
  </mat-card-content>
</mat-card>