mat-card-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

    
div {
    margin-bottom: 4px;
    position: relative;
}

a {
    display: block;
}

mat-icon {
    vertical-align: middle;
}

/*
a {
    position:absolute;
    top: 50%;
    left: calc(5px + 0.5vw);
    transform: translateY(-50%);
}
*/

