<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>Profile: {{userMeta?.name}}</mat-card-title>
    <mat-card-subtitle>Status: curator</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


    <hr>

    <div *ngIf="isLoading" style="text-align: center">
      Loading &nbsp;
      <mat-spinner color=accent [diameter]="20" style="display: inline-block; vertical-align:middle"></mat-spinner>
    </div>

    <table>

      <tr *ngIf="userMeta?.affiliations">
        <td>Affiliation(s)</td>
        <td>
          <li *ngFor="let affiliation of userMeta.affiliations; let i = index">
            <a routerLink="/groups/{{affiliation}}" class="a-displacement">{{affiliation}}</a>
          </li>
        </td>
      </tr>


      <tr>
        <td style="padding-right:100px;">ORCID</td>
        <td>
          <a href="{{ urlHandler.getORCID(orcid) }}" target="_blank" class="a-displacement">{{userMeta?.name}}</a>
        </td>
      </tr>
      <!--
      <tr>
        <td>Organization</td>
        <td>
          <a href={{groupMeta?.id}} target="_blank">{{userMeta?.organizations}}</a>
        </td>
      </tr>
    -->



      <tr *ngIf="userMeta?.accounts?.github">
        <td>GitHub</td>
        <td>
          <a href="https://github.com/{{userMeta?.accounts?.github}}" target="_blank">{{userMeta?.accounts?.github}}</a>
        </td>
      </tr>

    </table>


    <hr>
    <br>


    <p class="u-margin-bottom-small">
        <span class="u-vertical-bar-left"></span>
        <a [routerLink]="['/browse', userMeta?.name]" class="a-displacement a-font-weight">
          <span style="display: inline-block">See all GO-CAMs produced by {{ userMeta?.name }}
            <mat-icon class="model__link__icon" style="vertical-align: bottom;">open_in_new</mat-icon>
          </span>
        </a>
      </p>
  
  
      <p>
        <mat-icon color=primary>info</mat-icon> &nbsp;
        <i style="vertical-align:super">
          the following three sections list the GO-CAMs, Biological Processes and Gene Products {{ userMeta?.name }} has worked on
        </i>
      </p>


    <mat-accordion *ngIf="userMeta && userMeta.gocams" class="my-headers-align">
      <mat-expansion-panel [expanded]="step === 0">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-gocam">
            GO-CAMs
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.gocams?.length}} produced
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--
        <ul>
          <li *ngFor="let model of userMeta?.gocams; let i = index">
            <a href="{{ urlHandler.getPathwayView(model) }}" target="_blank" class="a-displacement">{{userMeta.gocamsTitle[i]}}</a>
          </li>
        </ul>
      -->
      <a *ngFor="let model of userMeta?.gocams; let i = index" href="{{ urlHandler.getDefaultView(model) }}" target="_blank" class="badge-grey">{{userMeta.gocamsTitle[i]}}

      </a>

      </mat-expansion-panel>
    </mat-accordion>

    <br>

    <mat-accordion *ngIf="userMeta && userMeta.bpids" class="my-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-bp">
            Biological Processes
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.bpids?.length}} annotated
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--
        <ul>
          <li *ngFor="let bp of userMeta?.bpids; let i = index">
            <a [routerLink]="['/browse', userMeta.bpnames[i] ]" class="a-displacement">{{userMeta.bpnames[i]}}</a>
          </li>
        </ul>
        -->

        <!--
        <mat-chip-list>
          <mat-chip *ngFor="let bp of userMeta?.bpids; let i = index" color="primary" selected="true" 
            (click)="urlHandler.getAmigoTerm(userMeta.bpids[i])"
            style="margin-bottom:calc(1px + 0.5vw); margin-top:calc(1px + 0.5vw);">
            {{userMeta.bpnames[i]}}
          </mat-chip>
        </mat-chip-list>        
      -->

      <!--
      <a *ngFor="let bp of userMeta?.bpids; let i = index" href="{{ urlHandler.getAmigoTerm(bp.id) }}" target="_blank" class="badge color-bp">
          {{ bp.name }}
      </a>
    -->

      <a *ngFor="let bp of userMeta?.bpids; let i = index" href="{{ urlHandler.getAmigoTerm(userMeta.bpids[i]) }}" target="_blank" class="badge-primary">
         {{ userMeta.bpnames[i] }}
      </a>


      </mat-expansion-panel>
    </mat-accordion>

    <br>

    <mat-accordion *ngIf="userMeta && userMeta.gpids" class="my-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-gp">
            Gene Products
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.gpids?.length}} annotated
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--
        <mat-chip-list>
          <mat-chip *ngFor="let bp of userMeta?.gpids; let i = index" color="primary" selected="true" 
            (click)="navigate(userMeta.gpids[i])"
            style="margin-bottom:calc(1px + 0.5vw); margin-top:calc(1px + 0.5vw);">
            {{userMeta.gpnames[i]}}
          </mat-chip>
        </mat-chip-list>
      -->

      <a *ngFor="let bp of userMeta?.gpids; let i = index" href="{{ userMeta.gpids[i] }}" target="_blank" class="badge-tertiary">
         {{ userMeta.gpnames[i] }}
      </a>

      </mat-expansion-panel>
    </mat-accordion>

    <br>
  </mat-card-content>
</mat-card>