<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>Profile: {{userMeta?.name}}</mat-card-title>
    <mat-card-subtitle>Status: curator</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


    <hr>

    <div *ngIf="isLoading" style="text-align: center">
      Loading &nbsp;
      <mat-spinner color=accent [diameter]="20" style="display: inline-block; vertical-align:middle"></mat-spinner>
    </div>

    <table>

      <tr *ngIf="userMeta?.affiliations">
        <td>Affiliation(s)</td>
        <td>
          <li *ngFor="let affiliation of userMeta.affiliations; let i = index">
            <a routerLink="/groups/{{affiliation}}">{{affiliation}}</a>
          </li>
        </td>
      </tr>


      <tr>
        <td style="padding-right:100px;">ORCID</td>
        <td>
          <a href="http://orcid.org/{{orcid}}" target="_blank">{{userMeta?.name}}</a>
        </td>
      </tr>
      <!--
      <tr>
        <td>Organization</td>
        <td>
          <a href={{groupMeta?.id}} target="_blank">{{userMeta?.organizations}}</a>
        </td>
      </tr>
    -->



      <tr *ngIf="userMeta?.accounts?.github">
        <td>GitHub</td>
        <td>
          <a href="https://github.com/{{userMeta?.accounts?.github}}" target="_blank">{{userMeta?.accounts?.github}}</a>
        </td>
      </tr>

    </table>


    <hr>
    <br>


    <mat-accordion *ngIf="userMeta && userMeta.gocams" class="my-headers-align">
      <mat-expansion-panel [expanded]="step === 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            GO-CAMs
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.gocams?.length}} produced
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ul>
          <li *ngFor="let model of userMeta?.gocams; let i = index">
            <!--{{userMeta.gocamsDate[i]}} &nbsp;&nbsp;-->
            <a href="{{ urlHandler.getPathwayView(model) }}" target="_blank">{{userMeta.gocamsTitle[i]}}</a>
          </li>
        </ul>

      </mat-expansion-panel>
    </mat-accordion>

    <br>

    <mat-accordion *ngIf="userMeta && userMeta.bpIDs" class="my-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Biological Processes
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.bpIDs?.length}} annotated
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ul>
          <li *ngFor="let bp of userMeta?.bpIDs; let i = index">
            <a [routerLink]="['/browse', userMeta.bpNames[i] ]">{{userMeta.bpNames[i]}}</a>
            <!--
            <a href="{{userMeta.bpIDs[i]}}" target="_blank">{{userMeta.bpNames[i]}}</a>
            -->
          </li>
        </ul>

      </mat-expansion-panel>
    </mat-accordion>

    <br>

    <mat-accordion *ngIf="userMeta && userMeta.gpIDs" class="my-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gene Products
          </mat-panel-title>
          <mat-panel-description style="justify-content: space-between; align-items: center;flex-basis: 0;">
            {{userMeta?.gpIDs?.length}} annotated
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-chip-list>
          <mat-chip *ngFor="let bp of userMeta?.gpIDs; let i = index" color="primary" selected="true" (click)="navigate(userMeta.gpIDs[i])"
            style="margin-bottom:calc(1px + 0.5vw); margin-top:calc(1px + 0.5vw);">
            {{userMeta.gpNames[i]}}
          </mat-chip>
        </mat-chip-list>

        <!--
        <ul>
          <li *ngFor="let bp of userMeta?.gpIDs; let i = index">
            <a href="{{userMeta.gpIDs[i]}}" target="_blank">{{userMeta.gpNames[i]}}</a>
          </li>
        </ul>
      -->

      </mat-expansion-panel>
    </mat-accordion>


    <!--
    <div class="small-card">
      <h3 *ngIf="userMeta && userMeta.gocams">
        {{userMeta?.gocams?.length}} GO-CAMs produced
      </h3>
      <hr>
      <ul>
        <li *ngFor="let model of userMeta?.gocams; let i = index">
          {{userMeta.gocamsDate[i]}} &nbsp;&nbsp;
          <a href="{{ urlHandler.getPathwayView(model) }}" target="_blank">{{userMeta.gocamsTitle[i]}}</a>
        </li>
      </ul>
    </div>

    <div class="small-card">
      <h3 *ngIf="userMeta && userMeta.bpIDs">
        {{userMeta?.bpIDs?.length}} Biological Process Annotated
      </h3>
      <hr>
      <ul>
        <li *ngFor="let bp of userMeta?.bpIDs; let i = index">
          <a href="{{userMeta.bpIDs[i]}}" target="_blank">{{userMeta.bpNames[i]}}</a>
        </li>
      </ul>
    </div>

    <div class="small-card">
      <h3 *ngIf="userMeta && userMeta.gpIDs">
        {{userMeta?.gpIDs?.length}} Gene Products Annotated
      </h3>
      <hr>
      <ul>
        <li *ngFor="let bp of userMeta?.gpIDs; let i = index">
          <a href="{{userMeta.gpIDs[i]}}" target="_blank">{{userMeta.gpNames[i]}}</a>
        </li>
      </ul>
    </div>
  -->


  </mat-card-content>
</mat-card>