<mat-card class="mat-elevation-z10" fxLayout="column" fxLayoutAlign="space-between stretch">

  <div class="top-right">
    <button mat-raised-button color=primary routerLink="/browse">
      Browse Models
      <mat-icon color=white>search</mat-icon>
    </button>
  </div>

  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-avatar src="assets/go-logo-icon.mini__0.png" alt="GO CAM Logo" class="u-width-full">
    </div>
    <mat-card-title>
      <h1 class="heading-primary">Causal Activity Models (CAMs)</h1>
    </mat-card-title>
    <mat-card-subtitle>{{ utils.lastUpdate() | date: 'MMMM, yyyy' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <h2 class="heading-secondary">GO-CAMs: linking GO Annotations</h2>

    <p>
      GO-Causal Activity Models (GO-CAMs) use a defined “grammar” for linking multiple <a href="{{ urlHandler.getDocGOAnnotation() }}" target="_blank">GO annotations</a> into larger models
      of biological function (such as “pathways”) in a semantically structured manner. GO-CAMs are created by expert biocurators
      from the
      <a href="{{ urlHandler.getGOContributors() }}" target="blank">GO Consortium</a>, using the
      <a href="{{ urlHandler.getNoctuaPlatform() }}" target="blank">Noctua Curation Platform</a>.
    </p>

    <p align="center" id="carousel" class="u-small-border-rounded u-margin-vertical-responsive">
      <mat-tab-group style="padding:10px; min-height:calc(200px + 0.5vw)" [selectedIndex]="selectedIndex" (mouseover)="pause = true"
        (mouseleave)="pause = false" ng-focus="">

        <mat-tab label="GO-CAM Principle">
          <img src="./assets/GO-CAM Principle.jpg" class="small-border" style="width:100%;" alt="GO-CAM Principle">
        </mat-tab>

        <mat-tab label="NEDD4 Illustration">
          <a href="{{ urlHandler.getDefaultView('gomodel:5323da1800000002') }}" target="_blank" alt="GO-CAM Example: NEDD4">
            <img src="./assets/NEDD4 Example.jpg" class="small-border" style="width:100%;">
          </a>
        </mat-tab>

        <mat-tab label="NEDD4 GO-CAM">
          <a href="{{ urlHandler.getDefaultView('gomodel:5323da1800000002') }}" target="_blank" alt="GO-CAM Example: NEDD4">
            <img src="./assets/NEDD4-noctua.png" class="small-border" style="width:100%;">
          </a>
        </mat-tab>

        <!--
        <mat-tab label="DLK-1 Example">
          <a href="{{ urlHandler.getDefaultView('gomodel:57c82fad00000847') }}" target="_blank" alt="GO-CAM Example: DLK-1">
            <img src="./assets/DLK1-model.jpg" class="small-border" style="width:100%;">
          </a>
        </mat-tab>
        -->

      </mat-tab-group>

    </p>

    <h2 class="heading-secondary">GO-CAMs: multiple uses</h2>
    <ul>
      <li>As “pathway diagrams” that can be
        <a routerLink="/browse">browsed and visualized</a>.
      </li>
      <li>As full GO-CAM graphs that can be
        <a href="https://www.w3.org/TeamSubmission/turtle/" target="blank">downloaded (as RDF Turtle)</a> and downloaded at our <a href="https://github.com/geneontology/noctua-models" target="blank">GitHub repository</a>.
      </li>
      <li>
        <p>As “reduced” pairwise GO annotations, included in the
          <a href="{{ urlHandler.downloadGOAnnotations() }}" target="blank"> GO annotation files</a> for backward compatibility with the broader GO communities.</p>
      </li>
    </ul>

  </mat-card-content>

  <mat-card-actions style="margin:5px;">

    <button mat-raised-button color=primary routerLink="/browse">
      Browse Models
      <mat-icon color=white>search</mat-icon>
    </button>

    &nbsp;
    <button mat-button routerLink="/docs">
      Documentation
      <mat-icon color=primary>school</mat-icon>
    </button>

    <!-- mat-button vs mat-raised-button -->
    <button mat-button [matMenuTriggerFor]="shareMenu">
      Share
      <mat-icon color=primary>share</mat-icon>
    </button>

    <mat-menu #shareMenu="matMenu">
      <share-button button="email" text="EMail" [showText]="true" title="Check GO-CAM Website !" description="I want to share with you the new Gene Ontology Causal Activity Models website"></share-button>
      <share-button button="twitter" text="Tweet" [showText]="true" tags="GO" description="Check the new Gene Ontology Causal Activity Models website: "></share-button>
      <share-button button="linkedin" text="Share" [showText]="true" title="Check GO-CAM Website !" description="Check the new Gene Ontology Causal Activity Models website: "></share-button>
      <share-button button="facebook" text="Share" [showText]="true" description="Check the new Gene Ontology Causal Activity Models website: "></share-button>
    </mat-menu>


  </mat-card-actions>

</mat-card>
