<br>


<!-- EXAMPLE SECTION -->
<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5" style="margin-bottom:10px">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>apps</mat-icon>
    </div>
    <mat-card-title>Examples of GO SPARQL Queries</mat-card-title>
    <mat-card-subtitle>Tips: click one of these badges to test a common query</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="small-border">

    <mat-chip-list>
      <span matTooltip="{{ template.comment }}" *ngFor="let template of availableTemplates;" matTooltipPosition="below" [matTooltipShowDelay]="prefs.toolTipDelay">
        <mat-chip selected="true" (click)="example(template)" style="margin:calc(1px + 0.15vw);margin-bottom:calc(1px + 0.5vw); margin-top:calc(1px + 0.5vw);color:white">
          {{ template.name }}
        </mat-chip>
      </span>
    </mat-chip-list>

    <!--
    <div *ngIf="template && template.variables" class="small-border" style="padding:10px">
      <h2>Parameter(s):</h2>
      <mat-form-field>
        <span matTooltip="{{ variable.comment }}" *ngFor="let variable of template.variables">
          <input matInput placeholder="{{variable.name}}" value="">
        </span>
      </mat-form-field>
      <button mat-raised-button (click)=create()>Assign</button>
    </div>
    -->

  </mat-card-content>
</mat-card>


<!-- QUERY SECTION -->
<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5" style="margin-bottom:10px">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>edit</mat-icon>
    </div>
    <mat-card-title>Your SPARQL query</mat-card-title>
    <mat-card-subtitle>http://rdf.geneontology.org/blazegraph/sparql</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="small-border">

    <div class="small-border" *ngIf="showQuery" style="margin:10px; padding:10px; background-color: rgba(245, 245, 245, 0.788)">
      <h2>Description:</h2>
      {{ template.description }}
    </div>
    <div id="yasqe"></div>

  </mat-card-content>

</mat-card>


<!-- RESPONSE SECTION -->
<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5" *ngIf="jsResponse">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>device_hub</mat-icon>
    </div>
    <mat-card-title>Response from GO SPARQL endpoint</mat-card-title>
    <mat-card-subtitle>http://rdf.geneontology.org/blazegraph/sparql</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="small-border" style="padding:10px">

    <!--
    <ngx-json-viewer [json]="jsResponse" [expanded]=true></ngx-json-viewer>
    -->
    <!--
    <table style="width:100%">
      <tr style="background-color: rgb(235, 235, 235)">
      <th *ngFor="let head of jsHeader" >{{head}}</th>
      </tr>
      <tr *ngFor="let res of jsResponse" style="margin: 10px">
        <td *ngFor="let head of jsHeader" style="font-size: calc(6px + 0.3vw)">{{res[head]}}</td>
      </tr>
    </table>
  -->

    <mat-table [dataSource]="dataSource" matSort>

      <mat-header-row *matHeaderRowDef="jsHeader" style="background-color: rgba(245, 245, 245, 0.788)" class="small-border"></mat-header-row>
      <mat-row *matRowDef="let row; columns: jsHeader;" style="padding:3px;"></mat-row>

      <ng-container *ngFor="let head of jsHeader" matColumnDef="{{head}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{head.toUpperCase()}}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[head]}} </mat-cell>
      </ng-container>

    </mat-table>
    <mat-paginator [pageSizeOptions]="pageSizes"></mat-paginator>

  </mat-card-content>
</mat-card>



<div id="yasr" style="font-size: 8px"></div>