

mat-toolbar {
    margin: auto auto;
    height: calc(40px + 1.4vw) !important;
    min-height: calc(34px + 2.2vw) !important;
}

mat-toolbar-row {
    margin-top: calc(2px + 0.35vw) !important;    
}

span {
    font-size: calc(2px + 2vw);
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5) ;
}

.span-centered {
    display: inline-block;
    vertical-align: top;
}


/* Useless, but for the Funny Rotating Letters */
.letter{
    display: inline-block;
    font-weight: 900;
    font-size: calc(1px + 2.2vw);
    margin: 0 0.15em;
    position: relative;
    color: rgb(0, 0, 0);
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
    vertical-align: top;
    /*
    transform: translateY(-19%);
    vertical-align: super;
    */
}

/* pseudo-elements on top of the parent letter class */
.letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
}

.letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
}
  
.letter:before{
    color: #fff;
    text-shadow: 
      -1px 0px 1px rgba(255,255,255,.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
}
  
.letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
}
  
.letter:hover:before{
    color: #fafafa;
    transform:
      rotateX(0deg)
      rotateY(-70deg)
      rotateZ(0deg);
}
  
.letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
}