<mat-toolbar color="primary" style="box-shadow: 0px 10px 10px grey; padding:5px">
  <mat-toolbar-row>

    <a [routerLink]="['/']">
      <button mat-mini-fab color="white" class="header-image">
      </button>
    </a>
    &nbsp; &nbsp;
    <!--
    <span class="name navbar-brand">Gene Ontology Causal Activity Models:
      <i>GO-CAMs</i>
    </span>
    -->
    
    <!--
    <span class="letter" data-letter="G">G</span>
    <span class="name navbar-brand">ene</span>
    <span class="letter" data-letter="O">O</span>
    <span class="name navbar-brand">ntology Causal Activity Models:
        <i>GO-CAMs</i>
    </span>
    -->

    <!--
    <span class="letter" data-letter="G">G</span>
    <span class="name navbar-brand">ene</span>
    <span class="letter" data-letter="O">O</span>
    <span class="name navbar-brand">ntology </span>
    <span class="letter" data-letter=":">:</span>
    <span class="letter" data-letter="C">C</span>
    <span class="name navbar-brand">ausal </span>
    <span class="letter" data-letter="A">A</span>
    <span class="name navbar-brand">ctivity </span>
    <span class="letter" data-letter="M">M</span>
    <span class="name navbar-brand">odels</span>
    -->

    <span class="letter" data-letter="G">G</span>
    <span class="name navbar-brand">ene</span>
    <span class="letter" data-letter="O">O</span>
    <span class="name navbar-brand">ntology: Causal Activity Models</span>
    <!--
    <span class="name navbar-brand">Gene Ontology Causal Activity Models: </span>
    <span class="letter" data-letter="G">G</span>
    <span class="letter" data-letter="O">O</span>
    <span class="letter" data-letter="-">-</span>
    <span class="letter" data-letter="C">C</span>
    <span class="letter" data-letter="A">A</span>
    <span class="letter" data-letter="M">M</span>
    -->

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
      <div></div>
      <div></div>

      <div>

        <sui-dimmer class="page" [(isDimmed)]="pageDimmed" [isClickable]="false">

          <mat-card style="width:450px; margin:auto;">

            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon color=primary>message</mat-icon>
              </div>
              <mat-card-title>Feedback</mat-card-title>
              <mat-card-subtitle>Help Us Improve GO !</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">

              <mat-form-field class="small-border" style="padding:5px;margin-bottom:5px">
                <mat-select placeholder="Feedback on ?" required>
                  <mat-option *ngFor="let fb of fbs" [value]="fb.value">
                    {{ fb.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="small-border" style="padding:5px;margin-bottom:5px">
                <input matInput #email placeholder="Contact Email">
              </mat-form-field>

              <mat-form-field class="small-border" style="padding:5px">
                <textarea matInput #message placeholder="Your Feedback" maxlength=512 rows=5 required></textarea>
                <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
              </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center" style="margin:5px">
              <button mat-raised-button (click)="pageDimmed = false" color="primary">
                Send
              </button>
              <button mat-button (click)="pageDimmed = false">
                Cancel &nbsp;
                <mat-icon style="font-size:16px">delete</mat-icon>
              </button>

            </mat-card-actions>
          </mat-card>

        </sui-dimmer>



        <!-- GIVE FEED BACKS -->
        <span matTooltip="Give Your Feedback" [matTooltipShowDelay]="prefs.toolTipDelay">
          <button mat-mini-fab color="white" (click)="pageDimmed = true">
            <mat-icon color="primary">comment</mat-icon>
          </button>
        </span>

        <!-- BROWSE GO-CAMs -->
        <span matTooltip="Browse GO-CAMs" [matTooltipShowDelay]="prefs.toolTipDelay">
          <a [routerLink]="['/browse']">
            <button mat-mini-fab color="white">
              <mat-icon color="primary">search</mat-icon>
            </button>
          </a>
        </span>

        <!-- HOME PAGE -->
        <span matTooltip="Home Page" [matTooltipShowDelay]="prefs.toolTipDelay">
          <a [routerLink]="['/']">
            <button mat-mini-fab color="white">
              <mat-icon color="primary">home</mat-icon>
            </button>
          </a>
        </span>



        <!-- USER ACCOUNT
        <span matTooltip="User Account" [matTooltipShowDelay]="prefs.toolTipDelay">
          <button mat-mini-fab color="white">
            <mat-icon color="primary">account_circle</mat-icon>
          </button>
        </span>
         -->

        <!-- TOGGLE SIDE NAV -->
        <span matTooltip="Toggle Navigation Menu" [matTooltipShowDelay]="prefs.toolTipDelay">
          <button mat-mini-fab color="white" (click)="prefs.toggleSideNav()">
            <mat-icon color="primary">menu</mat-icon>
          </button>
        </span>

      </div>
    </div>




  </mat-toolbar-row>
  <!--
  <mat-toolbar-row style="height:10px;">
    <span align='right' style="width:100%; font-size:12px;">
    <i>Last Update: March 15, 2018</i>
    </span>
  </mat-toolbar-row>
-->
</mat-toolbar>