
@import '~@angular/material/theming';

// make some variables + functionalities (e.g. mat-palette) available
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
// default, lighter and darker color
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

// creating the theme from above colors
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


$card-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    
    $headline: mat-typography-level(32px, 48px, 700),
    $title: mat-typography-level(32px, 48px, 700),
    
    /* base body text */
    $body-1: mat-typography-level(calc(1vw + 6px), 24px, 500),
    /* bolder body text */
    $body-2: mat-typography-level(calc(1vw + 6px), 24px, 500),

    $button: mat-typography-level(calc(1vw + 6px), 24px, 500)
);



@include mat-card-typography($card-typography);

// will create & load the theme
@include angular-material-theme($candy-app-theme);

