@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/abstracts/functions";

@import "scss/base/base";
@import "scss/base/typography";
@import "scss/base/utilities";

@import "scss/components/material-mods";
@import "scss/components/round-button";




@import '~@angular/material/theming';

// make some variables + functionalities (e.g. mat-palette) available
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
// default, lighter and darker color
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

// creating the theme from above colors
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


$card-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    
    $headline: mat-typography-level(32px, 48px, 700),
    $title: mat-typography-level(32px, 48px, 700),
    
    /* base body text */
    $body-1: mat-typography-level(calc(1vw + 6px), 24px, 500),
    /* bolder body text */
    $body-2: mat-typography-level(calc(1vw + 6px), 24px, 500),

    $button: mat-typography-level(calc(1vw + 6px), 24px, 500)
);


@include mat-card-typography($card-typography);
// will create & load the theme
@include angular-material-theme($candy-app-theme);




/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';









header {
    top: 0px;
    opacity: 1;
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    box-shadow: 2px 2px 10px 1px rgba(32, 42, 178, .1);
}


footer {
    margin: 20px;
    opacity: .8;
    font-size: $default-font-size;
}

.section-main {
    margin-top: calc(50px + 3.8vw);
    margin-left: calc(1px + 0.5vw);
    margin-right: calc(1px + 0.5vw);
}








.align-right {
    position: absolute;
    top: 50%;
    right: calc(1px + 0.5vw);
    transform: translateY(-50%);
}

.header-image {
    background-image: url('assets/go-logo-icon.mini__0.png');
    background-size: cover;
}




.box-shadow-shifted {
    box-shadow: 3px 3px 3px grey;    
}


div span p {
    font-size: calc(8px + 0.5vw);
}












.displacement:hover {
    transform: translateX(0.2rem);
}





  










