<mat-card class="mat-elevation-z5">

  <mat-card-header>
    <div mat-card-avatar>
      <!--
      <mat-icon>library_books</mat-icon>
      -->
      <mat-icon>content_copy</mat-icon>
    </div>
    <mat-card-title><h1 class="heading-primary">Documentation</h1></mat-card-title>
    <mat-card-subtitle>Learn How to Benefit From GO-CAMs</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    
    <p>
      GO-CAM resources are provided for 3 types of users. Select your type of use to start exploring the documentation:
    </p>

    <ul>
      <li><a href="{{ urlHandler.getDocResearch() }}" target="blank" class="a-displacement"><mat-icon>school</mat-icon> &nbsp; Researchers </a></li>
      <li><a href="{{ urlHandler.getDocCuration() }}" target="blank" class="a-displacement"><mat-icon>edit</mat-icon> &nbsp; Curators </a></li>
      <li><a href="{{ urlHandler.getDocDevelopment() }}" target="blank" class="a-displacement"><mat-icon>build</mat-icon> &nbsp; Developers </a></li>
    </ul>
    
  </mat-card-content>
</mat-card>