<br>
<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-elevation-z5">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>Profile: {{userMeta?.name}}</mat-card-title>
    <mat-card-subtitle>Status: curator</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>


    <hr>

    <table>

      <tr>
        <td>Affiliation(s)</td>
        <td>
          <li *ngFor="let affiliation of userMeta.affiliations; let i = index">
            <a href={{userMeta.affiliationsIRI[i]}} target="_blank">{{affiliation}}</a>
          </li>
        </td>
      </tr>


      <tr>
        <td style="padding-right:100px;">ORCID</td>
        <td>
          <a href="http://orcid.org/{{orcid}}" target="_blank">{{userMeta?.name}}</a>
        </td>
      </tr>
      <!--
      <tr>
        <td>Organization</td>
        <td>
          <a href={{groupMeta?.id}} target="_blank">{{userMeta?.organizations}}</a>
        </td>
      </tr>
    -->



      <tr *ngIf="userMeta?.accounts?.github">
        <td>GitHub</td>
        <td>
          <a href="https://github.com/{{userMeta?.accounts?.github}}" target="_blank">{{userMeta?.accounts?.github}}</a>
        </td>
      </tr>

    </table>


    <hr>


    <h3 *ngIf="userMeta && userMeta.gocams">
      {{userMeta?.gocams?.length}} GO-CAMs produced
    </h3>
    <ul>
      <li *ngFor="let model of userMeta?.gocams; let i = index">
        {{userMeta.gocamsDate[i]}} &nbsp;&nbsp;
        <a href="{{ urlHandler.getPathwayView(model) }}" target="_blank">{{userMeta.gocamsTitle[i]}}</a>
      </li>
    </ul>

    <h3 *ngIf="userMeta && userMeta.bpIDs">
      {{userMeta?.bpIDs?.length}} Biological Process Annotated
    </h3>
    <ul>
      <li *ngFor="let bp of userMeta?.bpIDs; let i = index">
        <a href="{{userMeta.bpIDs[i]}}" target="_blank">{{userMeta.bpNames[i]}}</a>
      </li>
    </ul>

    <h3 *ngIf="userMeta && userMeta.gpIDs">
      {{userMeta?.gpIDs?.length}} Gene Products Annotated
    </h3>
    <ul>
      <li *ngFor="let bp of userMeta?.gpIDs; let i = index">
        <a href="{{userMeta.gpIDs[i]}}" target="_blank">{{userMeta.gpNames[i]}}</a>
      </li>
    </ul>


  </mat-card-content>
</mat-card>